*{
   color: #fff;
   font-size: 24px;
   line-height: 29px;
}
header{
   width: 100vw;
   height: 10vh;
   background-color: #333;
   font-size: 6vh;
   border-bottom: #fff solid 3px;
   margin-bottom: 3vh;
   display: flex;
   justify-content: center;
   align-items: center;
   
}
body{
   background-color: #666;
  
}
hr{
   color: red;
   margin-top: 1vh;
   margin-bottom: 1vh;
}
.flex{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   row-gap: 3vh;
}
.background{
   background-color: #333;
   border: #fff solid 3px;
   padding: 10px;
   width: 90vw;
}


@media (max-width: 856px) {
   *{
      font-size: 16px;
      line-height: 19px;

   }
   header{
      font-size: 4vh;
   }
   .background{
      width: 99vw;
   }

}